.c-price-inner {
  font-family: var(--ff-paragraph);
  font-variant: small-caps;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-discount-wrapper,
.c-item-wrapper,
.c-total-wrapper,
.c-delivery-wrapper {
  width: 95%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.5%;
}

.c-delivery-wrapper {
  justify-content: center;
  background: var(--clr-neutral-light);
}

.c-order__button-wrapper {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-order__button-wrapper button {
  width: 95%;
  height: 75%;
  background: var(--clr-primary);
  font-family: var(--ff-heading);
  color: vaR(--clr-neutral);
  border: none;
}

.c-order__button-wrapper button:hover {
  cursor: pointer;
}
