.c-db__price-inner {
  font-family: var(--ff-paragraph);
  font-variant: small-caps;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-db__discount-wrapper,
.c-db__item-wrapper,
.c-db__total-wrapper,
.c-db__delivery-wrapper {
  width: 95%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.5%;
}

.c-db__delivery-wrapper {
  justify-content: center;
  background: var(--clr-neutral-light);
}

.c-db__order__button-wrapper {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-db__order__button-wrapper button {
  width: 95%;
  height: 75%;
  background: var(--clr-primary);
  font-family: var(--ff-heading);
  color: vaR(--clr-neutral);
  border: none;
}

.c-db__order__button-wrapper button:hover {
  cursor: pointer;
}
