.c-db-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.c-db-menu::-webkit-scrollbar {
  width: 7.5px;
  border-radius: 50%;
}

.c-db-menu::-webkit-scrollbar-track {
  background: transparent;
}

.c-db-menu::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
}

.c-menu__card {
  border: var(--clr-grey) solid 1px;
  border-radius: 5px;
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.c-menu__card h3 {
  font-family: var(--ff-heading);
  text-shadow: var(--txt-shadow-neutral);
  color: var(--clr-primary);
  position: absolute;
  bottom: 15%;
  left: 0%;
  padding-left: 5%;
  z-index: 1;
  font-size: 0.9rem;
}

.c-menu__card span {
  height: 15%;
}

.c-menu__card span,
.c-menu__card span h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 0.9rem;
}

.c-menu__card span h3 {
  bottom: 12.5%;
  padding-left: 5%;
}

.c-menu__card span svg {
  position: absolute;
  left: 75%;
  bottom: 5%;
}

.c-menu__img-wrapper {
  height: 100%;
  width: 100%;
}

.c-menu__img {
  height: 100%;
  width: 100%;
}

.c-menu__span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.c-menu__span svg {
  height: 100%;
  width: 15%;
  color: var(--clr-neutral);
}

.c-menu__span svg:hover {
  cursor: pointer;
}
