.c-item-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* opacity: 0.75; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.c-modal__container {
  height: 70%;
  width: 45%;
  background: var(--clr-neutral);
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-modal__button {
  color: var(--clr-primary);
  background: transparent;
  border: none;
  position: absolute;
  top: 0.75%;
  right: 1%;
  font-size: 1.25rem;
}

.c-modal__button:hover {
  cursor: pointer;
}

.modal__image {
  margin-top: 5%;
  height: 50%;
  width: 90%;
}

.modal__image img {
  object-fit: contain;
  background: var(--clr-contrast);
  width: 100%;
  height: 100%;
}

.item__title {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10%;
  position: absolute;
  font-family: var(--ff-heading);
  text-shadow: var(--txt-shadow-neutral);
  font-size: 1.75rem;
  top: 45%;
}

#title__name {
  position: absolute;
  left: 2.5%;
  color: var(--clr-primary);
}

#title__price {
  position: absolute;
  right: 2.5%;
  text-shadow: var(--txt-shadow-primary);
  color: var(--clr-neutral);
}

.item__description {
  width: 75%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 2.5px;
  border: 1px solid var(--clr-grey);
  color: var(--clr-primary);
  font-variant: small-caps;
}

.item__rating {
  position: absolute;
  top: 6%;
  right: 7%;
  color: var(--clr-secondary);
}

.item__quantity {
  height: 5%;
  margin: 2.5%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--clr-grey) 1px solid;
}

.item__button {
  width: 30%;
  height: 5%;
  font-family: var(--ff-heading);
  background: transparent;
  border: var(--clr-primary) solid 2px;
  color: var(--clr-primary);
}

.item__button:hover {
  cursor: pointer;
}
