.c-db__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.c-db__search h1 {
  height: 35%;
  font-family: var(--ff-heading);
  color: var(--clr-primary);
  text-shadow: var(--txt-shadow-neutral);
}

.c-db__search h5 {
  height: 25%;
  align-items: center;
  font-family: var(--ff-paragraph);
  font-variant: small-caps;
}

.c-db__search h1,
.c-db__search h5,
.c-db__search-inner {
  padding-left: 30px;
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;
}

.c-db__search-inner {
  height: 40%;
}

.c-db__input {
  height: 1.5rem;
  width: 15rem;
  padding-left: 1%;
  outline: none;
}

.c-db__search__button-wrapper {
  height: 1.5rem;
  width: 5rem;
  background: var(--clr-primary);
  border: none;
  color: var(--clr-neutral);
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .c-db__search h1,
  .c-db__search h5,
  .c-db__search-inner {
    padding-left: 30px;
  }

  .c-db__search h1 {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .c-db__search h1,
  .c-db__search h5,
  .c-db_search-inner {
    padding-left: 10px;
  }

  .c-db__search h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}
