.dashboard__search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.dashboard__search__container h1 {
  height: 35%;
  font-family: var(--ff-heading);
  color: var(--clr-primary);
  text-shadow: var(--txt-shadow-neutral);
}

.dashboard__search__container h5 {
  height: 25%;
  align-items: center;
  font-family: var(--ff-paragraph);
  font-variant: small-caps;
}

.dashboard__search__container h1,
.dashboard__search__container h5,
.dashboard__search-inner {
  padding-left: 30px;
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;
}

.dashboard__search-inner {
  height: 40%;
}

.search__input {
  height: 1.5rem;
  width: 15rem;
  padding-left: 1%;
  outline: none;
}

.search__btn-wrapper {
  height: 1.5rem;
  width: 5rem;
  background: var(--clr-primary);
  border: none;
  color: var(--clr-neutral);
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .dashboard__search__container h1,
  .dashboard__search__container h5,
  .dashboard__search-inner {
    padding-left: 30px;
  }

  .dashboard__search__container h1 {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .dashboard__search__container h1,
  .dashboard__search__container h5,
  .dashboard__search-inner {
    padding-left: 10px;
  }

  .dashboard__search__container h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}
