.c-db__card {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
  grid-template-rows: 50% 50%;
  width: 95%;
  height: 12.25%;
  border-bottom: solid 1px var(--clr-accent);
  border-top: solid 1px var(--clr-accent);
  border-left: none;
  border-right: none;
  background: transparent;
}

.c-db__card:hover {
  cursor: pointer;
  background: var(--clr-accent);
}

.c-card__icon {
  color: var(--clr-primary);
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-card__icon svg {
  height: 50%;
  width: 100%;
}

.c-card__title {
  font-family: var(--ff-heading);
  color: var(--clr-neutral-light);
  text-shadow: var(--txt-shadow-primary);
  font-size: 0.9rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-row-start: 1;
  height: 100%;
  width: 100%;
}

.c-card__text {
  grid-column-start: 2;
  grid-row-start: 2;
  font-variant: small-caps;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
