.menu__nav-category__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 95%;
  height: 12.25%;
  border-bottom: solid 1px var(--clr-accent);
  border-top: solid 1px var(--clr-accent);
}

.icon-wrapper {
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcategory__container {
  width: 60%;
}

.subcategory-wrapper h3 {
  font-family: var(--ff-heading);
  color: var(--clr-neutral-light);
  text-shadow: var(--txt-shadow-primary);
  font-size: 0.9rem;
}

.subcategory-number-text {
  font-variant: small-caps;
  font-size: 0.8rem;
}
