.c-db__order {
  flex-direction: column;
}

.c-db__coupon-wrapper {
  border-bottom: var(--clr-grey) solid 1px;
  height: 10%;
}

.c-db__coupon-wrapper a {
  height: 100%;
}

.c-db__order-id {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.c-db__item {
  height: 70%;
  border-top: var(--clr-grey) solid 1px;
  border-bottom: var(--clr-grey) solid 1px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2.5%;
}

.c-db__delivery {
  height: 10%;
}

.c-db__delivery,
.c-db__item,
.c-db__order-id,
.c-db__coupon-wrapper a,
.c-db__coupon-wrapper {
  width: 100%;
}

.c-db__order,
.c-db__coupon-wrapper,
.c-db__coupon-wrapper a,
.c-db__delivery {
  display: flex;
  align-items: center;
  justify-content: center;
}
