.dashboard__order__container {
  flex-direction: column;
}

.order__coupon-wrapper {
  border-bottom: var(--clr-grey) solid 1px;
  height: 10%;
}

.order__coupon-wrapper a {
  height: 100%;
}

.order__id__container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.order__item-wrapper {
  height: 70%;
  border-top: var(--clr-grey) solid 1px;
  border-bottom: var(--clr-grey) solid 1px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2.5%;
}

.order__delivery-wrapper {
  height: 10%;
}

.order__delivery-wrapper,
.order__item-wrapper,
.order__id__container,
.order__coupon-wrapper a,
.order__coupon-wrapper {
  width: 100%;
}

.dashboard__order__container,
.order__coupon-wrapper,
.order__coupon-wrapper a,
.order__delivery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
