.c-db__order {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.c-coupon-wrapper {
  border-bottom: var(--clr-grey) solid 1px;
  height: 10%;
}

.c-coupon-wrapper a {
  height: 100%;
}

.c-order-id {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.c-order__item-wrapper {
  height: 70%;
  border-top: var(--clr-grey) solid 1px;
  border-bottom: var(--clr-grey) solid 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2.5%;
  gap: 2.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.c-order__item-wrapper::-webkit-scrollbar {
  width: 7.5px;
  border-radius: 50%;
}

.c-order__item-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.c-order__item-wrapper::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
}

.c-order__item-wrapper .c-item {
  border: var(--clr-grey) solid 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 97.5%;
  height: 17.5%;
  min-height: 17.5%;
  padding: 2.5%;
  position: relative;
}

.c-item h4 {
  font-family: var(--ff-paragraph);
  font-variant: small-caps;
  color: var(--clr-primary);
}

.c-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  width: 25%;
}

.c-item-inner h4 {
  color: var(--clr-contrast);
}

.c-removal-button {
  width: 7.5%;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.c-removal-button:hover {
  cursor: pointer;
  color: var(--clr-primary);
}

.c-delivery {
  height: 10%;
  position: absolute;
  bottom: 0;
}

.c-delivery,
.c-item-wrapper,
.c-order-id,
.c-coupon-wrapper a,
.c-coupon-wrapper {
  width: 100%;
}

.c-coupon-wrapper,
.c-coupon-wrapper a,
.c-delivery {
  display: flex;
  align-items: center;
  justify-content: center;
}
