.dashboard__container {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-inner {
  box-shadow: var(--clr-accent) 3px 3px 3px;
  border-radius: 3px;
  height: 95%;
  width: 95%;
  max-width: 70rem;
  display: grid;
  grid-template-columns: 22.5% 50% 27.5%;
  grid-template-rows: 25% 45% 30%;
}

.dashboard__nav__container {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.dashboard__search__container {
  grid-column-start: 2;
  grid-row-start: 1;
  border-bottom: var(--clr-grey) solid 1px;
}

.dashboard__menu-item__container {
  /* background: orange; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.dashboard__order__container {
  border-left: var(--clr-grey) solid 1px;
  border-right: var(--clr-grey) solid 1px;
  border-top: var(--clr-grey) solid 1px;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.dashboard__price__container {
  border: var(--clr-grey) solid 1px;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}

.dashboard__nav__container,
.dashboard__search__container,
.dashboard__menu-item__container,
.dashboard__order__container,
.dashboard__price__container {
  height: 100%;
  width: 100%;
}

/* Responsive Design Media Queries */

/* Large Screens */
@media screen and (min-width: 1201px) {
}

/* Large Desktops */
@media screen and (max-width: 1200px) {
}

/* Smaller Desktops / Larger Tablets */
@media screen and (max-width: 1024px) {
}

/* Tablets / Large Phones */
@media screen and (max-width: 768px) {
}

/* Tablets / Large Phones */
@media screen and (max-width: 481px) {
}
