.c-db {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-db-inner {
  /* box-shadow: var(--clr-accent) 3px 3px 3px; */
  border-radius: 3px;
  height: 95%;
  width: 95%;
  max-width: 70rem;
  display: grid;
  grid-template-columns: 22.5% 50% 27.5%;
  grid-template-rows: 25% 45% 30%;
}

.c-db-nav {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.c-db__search {
  grid-column-start: 2;
  grid-row-start: 1;
  border-bottom: var(--clr-grey) solid 1px;
}

.c-db-menu {
  /* background: orange; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.c-db__order {
  border-left: var(--clr-grey) solid 1px;
  border-right: var(--clr-grey) solid 1px;
  border-top: var(--clr-grey) solid 1px;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.c-db__price {
  border: var(--clr-grey) solid 1px;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}

.c-db-nav,
.c-db__search,
.c-db-menu,
.c-db__order,
.c-db__price {
  height: 100%;
  width: 100%;
}

/* Responsive Design Media Queries */

/* Large Screens */
@media screen and (min-width: 1201px) {
}

/* Large Desktops */
@media screen and (max-width: 1200px) {
}

/* Smaller Desktops / Larger Tablets */
@media screen and (max-width: 1024px) {
}

/* Tablets / Large Phones */
@media screen and (max-width: 768px) {
  .c-db__order,
  .c-db__price {
    display: none;
  }
}

/* Tablets / Large Phones */
@media screen and (max-width: 481px) {
}
