.c-delivery {
  height: 39.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery__inner {
  border: var(--clr-contrast) solid 2px;
  height: 40%;
  width: 40%;
}

.delivery__inner h1 {
  font-family: var(--ff-heading);
  color: var(--clr-contrast);
  text-shadow: var(--txt-shadow-primary);
}

.delivery__method {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delivery__method-inactive {
  display: none;
}
