.dashboard__nav__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: var(--clr-grey) solid 1px;
}

.dashboard__nav__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-heading);
  font-size: 0.8rem;
  background: var(--clr-primary);
  text-shadow: var(--txt-shadow-neutral);
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
}

.dashboard__nav-card__container {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.dashboard__nav__subtitle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-heading);
  background: var(--clr-primary);
  text-shadow: var(--txt-shadow-neutral);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}
