/* Responsive Design Media Queries */

/* Large Screens */
@media screen and (min-width: 1201px) {
   
}

/* Large Desktops */
@media screen and (max-width: 1200px) {
   
}

/* Smaller Desktops / Larger Tablets */
@media screen and (max-width: 1024px) {
    
}

/* Tablets / Large Phones */
@media screen and (max-width: 768px) {
    
}


/* Tablets / Large Phones */
@media screen and (max-width: 481px)  {
    
}

